<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="form">
        <%= simple_form_for(@restaurant) do |f| %>
        <%= f.input :name %>
        <%= f.input :address %>
        <%= f.input :category %>
        <%= f.input :phone_number %>
        <%= f.submit "Create Restaurant", class: "btn-pink" %>
      <% end %>
    </div>
    <%= link_to 'Back', restaurants_path %>
  </div>
</div>
