<div class="navbar navbar-lewagon">
  <h1 class="main-title"><%= @restaurant.name %></h1>
  <%= link_to new_restaurant_path do %>
    <button type="button main-title" class="btn btn-primary">Add restaurant</button>
  <% end %>
</div>
      <div class="container">
        <div class="row">
          <p><%= @restaurant.address %></p>
          <p><%= @restaurant.category %></p>
          <p><%= @restaurant.phone_number %></p>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <h2>Reviews:</h2>
          <ul class="list-group">
            <% @restaurant.reviews.each do |review| %>
              <li class="list-group-item">
                <p class="mt-2 p-1"><%= "⭐️" * review.rating %></p>
                <p class="mt-2 p-1"><%= review.content %></p>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <br>
      <div class="container">
        <div class="row">
          <div class="col-8">
            <%= link_to 'Back', restaurants_path %>
            <%#= link_to 'Leave a review', new_restaurant_review_path(@restaurant) %>
          </div>
          <div class="col-8">
            <h1>Leave a review for <strong><%= @restaurant.name %></strong></h1>
            <%= simple_form_for [ @restaurant, @review ] do |f| %>
              <%= f.input :content %>
              <%= f.input :rating, input_html: { min: 0, max: 5 } %>
              <%= f.submit "Submit review", class: "btn-pink" %>
            <% end %>
            <br>
            <%= link_to restaurants_path do %>
              <i class="fa-solid fa-circle-arrow-left" style="font-size: 24px"></i>
            <% end %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
