<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <h1>Leave a review for <strong><%= @restaurant.name %></strong></h1>
      <%= simple_form_for [ @restaurant, @review ] do |f| %>
        <%= f.input :content %>
        <%= f.input :rating, input_html: { min: 0, max: 5 } %>
        <%= f.submit "Submit review", class: "btn btn-primary" %>
      <% end %>
      <br>
      <%= link_to 'Back', restaurants_path %>
    </div>
  </div>
</div>
